html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    color: #ccc;
}

.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

@media screen and (min-aspect-ratio: 1/1) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
